<% content_for :page_heading, "HOME" %>
<div class="container">
  <div class="container my-3 d-flex justify-content-center">
    <div>
      <h1>Welcome to My Budget App</h1>
      <p>Manage your budget without stress</p>
    </div>
  </div>
  <div class="container my-3 d-flex justify-content-center">
    <%= link_to "Login", new_user_session_path, class: "btn btn-success me-2" %>
    <%= link_to "Register", new_user_registration_path, class: "btn btn-success" %>
  </div>
</div>